@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Sedgwick+Ave+Display&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
}

.card {
  width: 320px;
  height: 500px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

img{
  width: 290px;
  height: 290px;
  margin-top: 17px;
  border-radius: 15px;
}

h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  max-width: 250px;
  height: 40px;
  color: var(--dark-blue);
}

p{
  margin-bottom: 45px;
  max-width: 250px;
  text-align: center;
  color: var(--grayish-blue);
}